argh==0.26.2
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
future==0.18.2
idna==2.7
pathtools==0.1.2
pprint==0.1
pprintjson==1.4.1
pycparser==2.19
Pygments==2.4.2
pymongo==3.7.2
pyTelegramBotAPI==3.6.6
python-telegram-bot==12.2.0
PyYAML==5.1.2
requests
six==1.13.0
telebot
telegram
tornado==6.0.3
urllib3==1.24.3
